@import url('https://fonts.googleapis.com/css2?family=Sirivennela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');

body {
background-color: #03345c;
color: white;
}

h1{
text-align: center;
font-family: "Sirivennela", sans-serif;
font-weight: 500;
font-style: normal;
}

h2{
  margin-left: 20px;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3{
  margin-left: 100px;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p{
  text-align: center;
  font-family: "Geo", sans-serif;
  font-weight: 800;
  font-style: italic;
}

a{
  color: rgba(246, 129, 129, 0.82);
}

.border-style-one {
  border: 3px dotted rgb(55, 255, 55); 
  border-radius: 117px; 
  margin: 10px;
}

 .row {
    display:flex;
  }
    
  .column {
    flex: 33.33%;
  }